<div class="row">
    <div class="col-7">
        <img class="bg" src="assets/reg1.png" width="90%" height="90%">
    </div>
    <div class="col-5 first">
        <h3 class="reghead">Register</h3>
        <form>
            <div class="row label">
                <div class="col-6"><label for="firstname" name="firstname">First Name</label></div>
                <div class="col-6"><label for="lastname" name="lastname">Last Name</label></div>
                
            </div>
            <div class="row input">
                <div class="col-5" style="margin-left: -10px;"> <input class="form-control border-warning regin" type="text" name="firstname" placeholder="Enter your first name">
                </div>
                <div class="col-5">
           
                <input class="form-control border-warning regin2" type="text" name="lastname" placeholder="Enter your last name">
            </div></div>
            <div class="row label">
                <label class="reglab" for="email" name="email">Email</label>
            </div>
            <div class="row input">
                <input class="form-control border-warning regin" type="text" name="emailid" placeholder="Enter your email id">
            </div>
            <div class="row label">
                <label class="reglab" for="mobile" name="mobile">Phone number</label>
            </div>
            <div class="row input">
                <input class="form-control border-warning regin" type="text" name="phone" placeholder="Enter your phone number">
            </div>
            <div class="row label">
                <label class="reglab" for="password" name="password">Password</label>
            </div>
            <div class="row input">
                <input class="form-control border-warning regin" type="text" name="password" placeholder="Enter password">
            </div>
            <div class="row label">
                <label class="reglab" for="confirmpassword" name="confirmpassword">Confirm Password</label>
            </div>
            <div class="row input">
                <input class="form-control border-warning regin" type="text" name="confirmpassword" placeholder="Retype password">
            </div>
            <div class="row regbtn">
              <a class="btn btn-dark" href="Login.html" role="button">Submit</a>
            </div>
        </form>
    
    </div>
</div>


  