.bg {
  margin-top: 4%;
  margin-left: 4%;
  position: absolute;
}

.header {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 30%;
  margin-top: 2%;
}

.label {
  margin-top: 1%;
  padding-top: 1%;
}

.input {
  margin-top: 1%;
  margin-right: 1%;
}

.regbtn {
  justify-content: center;
  width: 20%;
  margin-left: 30%;
  margin-top: 3%;
}

.alert-danger {
  margin-top: 2%;
  color: red;
  margin-bottom: -3%;
}

.body {
  overflow: hidden;
}
