<div class="content">
  <img
    class="image-fluid bookbg"
    src="assets/bookbg.jpg"
    alt="book"
    width="100%"
    height="100%"
  />
  <div class="col d-flex justify-content-center">
    <div class="card bg-white">
      <div class="card-header bg-dark white chead">REGISTER</div>
      <div class="card-body">
        <form class="f" #userform="ngForm" (ngSubmit)="onSubmit()">
          <div class="row label1">
            <label name="name">Name</label>
          </div>

          <div class="row input">
            <input
              [(ngModel)]="user.name"
              class="form-control border-dark"
              type="text"
              required
              minlength="4"
              name="name"
              #name="ngModel"
              placeholder="Enter your name"
            />
            <div class="alert-danger" *ngIf="name.touched && !name.valid">
              <div *ngIf="name.errors?.['required']">Name is required.</div>
              <div *ngIf="name.errors?.['minlength']">
                Name must be at least 4 characters.
              </div>
            </div>
            <div class="alert-danger" *ngIf="name.untouched || name.valid">
              <br />
            </div>
          </div>

          <div class="row label">
            <label name="email">Email</label>
          </div>
          <div class="row input">
            <input
              [(ngModel)]="user.emailId"
              class="form-control border-dark"
              required
              type="text"
              name="emailid"
              #emailid="ngModel"
              placeholder="Enter your email id"
            />
            <div class="alert-danger" *ngIf="emailid.touched && !emailid.valid">
              <div *ngIf="emailid.errors?.['required']">
                Email id is required.
              </div>
            </div>
            <div
              class="alert-danger"
              *ngIf="emailid.untouched || emailid.valid"
            >
              <br />
            </div>
          </div>
          <div class="row label">
            <label name="phonenumber">Phone Number</label>
          </div>
          <div class="row input">
            <input
              [(ngModel)]="user.mobileNumber"
              class="form-control border-dark"
              type="tel"
              name="mobileNumber"
              required
              minlength="10"
              maxlength="10"
              #phone="ngModel"
              placeholder="Enter Phone number"
            />
            <div class="alert-danger" *ngIf="phone.touched && !phone.valid">
              <div *ngIf="phone.errors?.['required']">
                Phone number is required
              </div>
              <div *ngIf="phone.errors?.['minlength']">
                Phone number must be at least 10 digits.
              </div>
            </div>
            <div class="alert-danger" *ngIf="phone.untouched || phone.valid">
              <br />
            </div>
          </div>

          <div class="row label">
            <label name="password">Password</label>
          </div>
          <div class="row input">
            <input
              [(ngModel)]="user.password"
              class="form-control border-dark"
              type="password"
              required
              ngModel
              #password="ngModel"
              name="password"
              placeholder="Enter password"
            />
            <div
              class="alert-danger"
              *ngIf="password.touched && !password.valid"
            >
              Password is required
            </div>
            <div
              class="alert-danger"
              *ngIf="password.untouched || password.valid"
            >
              <br />
            </div>
          </div>
          <div class="row label">
            <label name="confirmpassword">Confirm Password</label>
          </div>

          <div class="row input">
            <input
              class="form-control border-dark"
              type="password"
              required
              ngModel
              #confirmpassword="ngModel"
              name="confirmpassword"
              placeholder="Retype password"
            />
            <div
              class="alert-danger"
              *ngIf="confirmpassword.touched && !confirmpassword.valid"
            >
              <div *ngIf="phone.errors?.['required']">
                Confirm password is required
              </div>
              <div *ngIf="password != confirmpassword">
                Confirm password and password do not match.
              </div>
            </div>
            <div
              class="alert-danger"
              *ngIf="confirmpassword.untouched || confirmpassword.valid"
            >
              <br />
            </div>
          </div>

          <div class="row label">
            <label name="role">Role</label>
          </div>

          <div class="row input">
            <!--            <input
              [(ngModel)]="user.role"
              class="form-control border-dark"
              type="text"
              required
              ngModel
              #role="ngModel"
              name="role"
              placeholder="Enter your Role"
            />-->
            <select
              [(ngModel)]="user.role"
              ngModel
              #role="ngModel"
              name="role"
              placeholder="Select your role"
              class="form-control border-dark"
            >
              <option value="" disabled selected hidden>Enter your role</option>
              <option value="ROLE_USER">User</option>
              <option value="ROLE_ADMIN">Admin</option>
            </select>
            <div class="alert-danger" *ngIf="role.touched && !role.valid">
              Role is required
            </div>
            <div class="alert-danger" *ngIf="role.untouched || role.valid">
              <br />
            </div>
          </div>

          <div class="row">
            <button
              [disabled]="!userform.valid"
              type="submit"
              class="btn btn-dark regbtn"
              onsubmit="alert('User registered successfully')"
            >
              Submit
            </button>
          </div>
          <p class="al">
            Already have an account?<a
              class="ll"
              [routerLink]="['/login']"
              routerLinkActive="router-link-active"
            >
              Login!</a
            >
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
