.booklogo {
  font-family: "Billabong", sans-serif;
  font-size: 40px;
  margin-bottom: -20px;
  margin-left: 5%;
}

.bookbg {
  position: fixed;
}

.white {
  color: #fff;
}

.bookimg {
  margin-top: 15%;
}

.card {
  width: 70%;
  opacity: 0.9;
  border-radius: -2px;
  margin-top: 5%;
}
h3 {
  margin-top: 5%;
  text-align: center;
  color: rgb(2, 1, 7);
  font-size: 35px;
}

h5 {
  margin-top: 5%;
  text-align: center;
  color: rgb(2, 1, 7);
}
.cont {
  margin-top: 8%;
}

.butcta {
  margin-left: 40%;
  margin-top: 1%;
}
