<app-admin-nav></app-admin-nav>
<div class="content">
  <img
    class="image-fluid bookbg"
    src="assets/bookbg.jpg"
    alt="book"
    width="100%"
    height="100%"
  />
  <div class="col d-flex justify-content-center">
    <div class="card bg-white" style="height: 35rem">
      <div class="card-body">
        <div class="row">
          <div class="col-6">
            <img
              class="image-fluid bookimg"
              src="assets/reading-glasses-animate.svg"
              width="100%"
              height="100%"
            />
          </div>
          <div class="col-6 cont">
            <h3>
              Welcome <b><i>Nasreen </i></b>!
            </h3>
            <br />
            <h5>To add books, click below</h5>
            <br />
            <a
              [routerLink]="['/admin/addBook']"
              routerLinkActive="router-link-active"
              class="btn btn-dark butcta"
              >Add Book</a
            >

            <h5>To view, update or delete books click below</h5>
            <br />
            <a
              [routerLink]="['/admin/viewBook']"
              routerLinkActive="router-link-active"
              class="btn btn-dark butcta"
              >View Book</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
