.cart {
  margin-top: 3%;
  margin-bottom: 3%;
}
.fw {
  font-weight: 600;
}
.content {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 7%;
}
.quantity {
  width: 7%;
  text-align: center;
}

.delete {
  margin-top: 3%;
  font-size: 20px;
}

.subtotal {
  text-align: right;
  /*  padding-right: 2%;*/
}

.order {
  text-align: center;
  justify-content: center;
  width: 12%;
  margin-bottom: 10%;
  margin-left: 45%;
  margin-top: 5%;
}
