.hcard {
  margin-top: 5%;
  margin-right: 5%;
}
.vcard {
  margin-left: 10%;
  margin-top: 10%;
}
.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 10%;
}
.search {
  width: 50%;
  margin-left: 20%;
}
.cbody {
  height: 130px;
}

.cfoot {
  background-color: white;
  border: none;
  text-align: center;
}

.page {
  text-align: center;
  margin-bottom: 10%;
}
