.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
  margin-top: 7%;
}

.fw {
  font-weight: 600;
}

.btns {
  margin-top: 20%;
}

.bn {
  margin-left: 4%;
}

.quantity{
  width: 7%;
  text-align: center;
}
.toast-top-right{
  margin-top: 4%;
}