.body {
  overflow: hidden;
}

.header {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 50%;
  margin-top: 20%;
  justify-content: center;
}

.label {
  justify-content: center;
  margin-top: 8%;
  padding-top: 1%;
}

.input {
  margin-top: 1%;
  margin-left: 25%;
}

.infield {
  width: 100%;
}

.alert-danger {
  margin-top: 2%;
  color: red;
  margin-bottom: -3%;
}

.logbtn {
  justify-content: center;
  width: 20%;
  margin-left: 50%;
  margin-top: 8%;
}

.bg {
  margin-left: 4%;
  position: absolute;
}
