/*

.body {
  overflow: hidden;
}

.header {
  font-size: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  margin-left: 50%;
  margin-top: 20%;
  justify-content: center;
}

.label {
  justify-content: center;
  margin-top: 8%;
  padding-top: 1%;
}

.input {
  margin-top: 1%;
  margin-left: 25%;
}

.infield {
  width: 100%;
}

.alert-danger {
  margin-top: 2%;
  color: red;
  margin-bottom: -3%;
}

.logbtn {
  justify-content: center;
  width: 20%;
  margin-left: 50%;
  margin-top: 8%;
}

.bg {
  margin-left: 4%;
  position: absolute;
}

*/

.white {
  color: #fff;
}

.bg {
  margin-left: 4%;
  margin-top: 5%;
}
.bookbg {
  position: fixed;
}

.al {
  font-weight: 600;
  margin-top: 9%;
  margin-left: 3%;
}
.ll {
  text-decoration: none;
}
.card {
  width: 65%;
  margin-top: 2%;
  height: 40rem;
  /*margin-bottom: 5%;
*/
}

.chead {
  height: 10%;
  font-size: 35px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.label1 {
  margin-left: -20px;
  font-weight: 600;
  margin-top: 20%;
}

.label2 {
  margin-left: -20px;
  font-weight: 600;
  margin-top: 10%;
}

.input {
  margin-top: 3%;
  margin-right: 1%;
  width: 90%;
  height: 50%;
}

.regbtn {
  justify-content: center;
  width: 20%;
  margin-top: 8%;
  text-align: center;
  margin-left: 27%;
}

.alert-danger {
  color: red;
  margin-bottom: -3%;
  margin-left: -10px;
}

.f {
  margin-left: 20%;
}
